<nav class="navbar navbar-expand px-2">
    <div (click)="sideNavToggle()">
        <a class="burger"><img src="../../../assets/menu.png" height="30px" width="30px"></a>
    </div>
    <a href="#" class="brand-logo right">
        <img src="../../../assets/logo.png" alt="Avatar Logo" style="width:60px;" class="rounded-pill">
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <a (click)="onClick()">Cerrar Sesión</a>
    </ul>
</nav>

<main>
    <app-sidenav [sideNavStatus]="menuStatus" [ngClass]="{'app-sidenav-open' : menuStatus }">
        <div class="display-area p-3">
            <p class="fs-1 fw-bold fst-italic"></p>
        </div>
    </app-sidenav>
</main>


<div class="googlegraphic">
    <iframe width="1400" height="950"
        src="https://datastudio.google.com/embed/reporting/2273e0ef-c759-4e22-90e8-56b386e47599/page/miK8C"
        frameborder="0" style="border:0" allowfullscreen>
    </iframe>
</div>