#login-box {
  margin-top: 40px;
  margin-bottom: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 35rem;
  height: 40rem;
  background: #D25B37;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}


.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;

}


input[type="submit"] {
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  height: 50px;
  background: #D25B37;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="button"] {
  margin-top: 28px;
  margin-left: 15px;
  width: 200px;
  height: 50px;
  background: #D25B37;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="button"]:hover,
input[type="button"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="button"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

}
h1 {
  color: #DAD1AA;
  font-family: 'THEBOLDFONT 2022';
  font-size: 45px;
  margin-bottom: 40px;
}
.mat-button{
  background-color: #330E58;
  color: #FFF;
}