<footer class="page-footer">
    <div>
        <div class=" py-3 text-light">
            <div class="col-md-10 col-12 justify-content-center">
                <div class="row">
                    <div class="col">
                            <img src="../../../assets/logo.png" class="rounded mx-md-auto mx-0 img-fluid" alt="CoffeMondo">
                    </div>
                    <div class="col">
                        <div class="container">
                            <h3 class="footer-title">Test</h3>
                            <p class="footers-links">Test</p>
                            <p class="footers-links">Test</p>
                            <p class="footers-links">Test</p>
                            <p class="footers-links">Test</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="container">
                            <h3 class="footer-title">Test</h3>
                            <p class="footers-links">Test</p>
                            <p class="footers-links">Preguntas frecuentes</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="container">
                            <h3 class="footer-title">Contacto</h3>
                            <p class="footers-links">hola@coffeemondo.cl</p>
                            <p class="footers-links">+569 4844 1337</p>
                            <p class="footers-links-rrss mt-5">Siguenos en
                                redes sociales</p>

                            <div class="d-flex">
                                <a href="https://www.facebook.com/profile.php?id=100083086668874" target=_blank><img
                                        src="../../../assets/facebook.png" class="img-fluid mx-2" alt=""></a>
                                <a href="https://www.instagram.com/coffeemondo.cl/?hl=es" target=_blank><img
                                        src="../../../assets/instagram.png" class="img-fluid mx-2" alt=""></a>
                                <a href="https://cl.linkedin.com/in/coffee-mondo-802012240" target=_blank><img
                                        src="../../../assets/linkedin.png" class="img-fluid mx-2" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</footer>