<footer class="page-footer">
    <!-- <div class="container-fluid">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">hola estamos probando maite jajaj saludos</p>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2022 CoffeMondo
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div> -->
    <div class="container-fluid">
        <div class="row justify-content-center py-3">
            <div class="col-md-10 col-12 justify-content-center">
                <div class="row">
                    <div class="col-md-3 col-12 mb-md-0 mb-3">
                        <div class="d-flex justify-content-md-start
                        justify-content-center">
                            <img src="../../../assets/logo.png" class="rounded mx-md-auto mx-0 img-fluid"
                                alt="CoffeMondo">
                        </div>
                    </div>
                    <div class="col-md-3 col-12 mb-md-0 mb-3">
                        <div class="services-container">
                            <h3 class="footer-title">Test</h3>
                            <p class="footers-links">Test</p>
                            <p class="footers-links">Test</p>
                            <p class="footers-links">Test</p>
                            <p class="footers-links">Test</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 mb-md-0 mb-3">
                        <div class="services-container">
                            <h3 class="footer-title">Test</h3>
                            <p class="footers-links">Test</p>
                            <p class="footers-links">Preguntas frecuentes</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="services-container">
                            <h3 class="footer-title">Contacto</h3>
                            <p class="footers-links">hola@coffeemondo.cl</p>
                            <p class="footers-links">+569 4844 1337</p>
                            <p class="footers-links-rrss mt-5">Siguenos en
                                redes sociales</p>

                            <div class="d-flex">
                                <a href="https://www.facebook.com/profile.php?id=100083086668874" target=_blank><img
                                        src="../../../assets/facebook.png" class="img-fluid mx-2" alt=""></a>
                                <a href="https://www.instagram.com/coffeemondo.cl/?hl=es" target=_blank><img
                                        src="../../../assets/instagram.png" class="img-fluid mx-2" alt=""></a>
                                <a href="https://cl.linkedin.com/in/coffee-mondo-802012240" target=_blank><img
                                        src="../../../assets/linkedin.png" class="img-fluid mx-2" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-10 justify-content-center">
                <div class="row">
                    <hr>
                </div>
            </div>
        </div>
<!-- 
        <div class="row justify-content-center my-3">
            <div class="col-md-8 col-12 justify-content-center">
                <div class="row align-items-center">
                    <div class="col-md-4 col-12 text-center">
                        <a href="" class="footers-links
                        text-decoration-none">Terminos y condiciones</a>
                    </div>
                    <div class="col-md-4 col-12 text-center">
                        <a href="" class="footers-links
                        text-decoration-none">Políticas de precio</a>
                    </div>
                    <div class="col-md-4 col-12 text-center">
                        <a href="" class="footers-links
                        text-decoration-none">Políticas de privacidad</a>
                    </div>

                </div>
            </div>

        </div> -->
    </div>
</footer>