<footer class="footer">
    <div class="rowfooter">
        <div class="logoamario">
            <img src="../../../assets/logoamarillo.png">
            <span>COFFEE <br/> MONDO</span>
        </div>
        <div class="textfooter">
            <span class="copy"> &copy; 2022 COFFEEMONDO</span>
            <span class="derechos"> TODOS LOS DERECHOS RESERVADOS</span>
        </div>
        <div class="redesfooter">
            <img src="../../../assets/fbamario.png">
            <img src="../../../assets/igamario.png">
        </div>
    </div>
</footer>