#divChart {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 1000px;
    height: 500px;
    background-color: aliceblue;
    border-top-right-radius: 0%;
    margin: 10px;
    margin-left: 150px;
}
.nav-wrapper{
background-color: #D25B37 ;
}
.rounded-pill{
text-align: right;
float: right;
}
body{
background: #61269c;
}
app-sidenav{
position: fixed;
left: 0rem;
width: 60px;
height: calc(100vh - 1.5rem);
background-color: #D25B37;
overflow-x: hidden;
transition: 0.5s;

}
.app-sidenav-open{
width: 150px;
}

main{
position: absolute;
width: 100%;
z-index: 1;
}

nav{
height:60px;
}

.navbar {
background-color: #D25B37;
}
.navbar-collapse{
background-color: #D25B37;
color: #D25B37;
}
.burger{
margin:10px;
}

.rounded-pill{
    text-align: right;
    float: right;
}