<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <meta name="viewport" content="width-device-width, initial-scale=1">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 mt-4">
        <div class="col-md-12">
          <iframe id="datastudio"
            src="https://lookerstudio.google.com/embed/reporting/6ac13cd7-19c7-48ee-86e3-2b55e094860f/page/ULSED"
            frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 mt-4">
        <div class="col-md-12">
          <iframe id="datastudio"
            src="https://lookerstudio.google.com/embed/reporting/ccc5c1df-8f6e-4742-a3d3-5bf1d1d305ba/page/0lmED"
            frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>




</body>

</html>