.sidenav{
    background: rgba(122, 97, 97, 0.171);
    backdrop-filter: blur(2rem);
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #4d4e4e;

    .logo-container{
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0.938rem;
        width: 100%;
        background: transparent;

        .btn{
            background: transparent;
            border-left: 20px;
            width: 3rem;
            min-width: 3rem;
            position: relative;
            right: 10px;
            outline: none;
            border: none;

        }
        .logo{
            
            text-align: center;
            
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.313rem;
            padding: 0.313rem;
            font-size: 24px;
            font-weight: 900;
            cursor: pointer;
            border: none;
            
            
        }

        .logo-text{
            margin-left: 0.5rem;
            font-size: 24px;
            font-weight: 700;
            color: #fff;
            margin-right: 12px;
        }


        .btn-close{
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;

            .fa-xmark{
                color: #fff;
                font-size: 24px;
            }
        }
    }
}

.sidenav-collapsed{
    width: 16.5625rem;
}

.sidenav-nav{
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -1;
    cursor: pointer;

    .sidenav-nav-item{
        width: 100%;
        margin-bottom: 0.625rem;

        .sidenav-nav-link{
            display: flex;
            align-items: center;
            height: 3rem;
            color: #f3f3f3;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sidenav-link-icon{
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .sidenav-nav-text{
                margin-left: 1.5rem;
            }
        }
    }

    .sidenav-nav-item:hover{
        .sidenav-nav-link{
            background-color: #fff;
            color: #000;
        }
    }
}


.sidenav-nav-item-logout{
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-top: 43%;
    background-color: lightgray;
    border-radius: 20px;
}

@media (max-width: 1130px) {
    .sidenav-nav-item-logout{
        margin-top: 17%;
    }
}