<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos</title>
</head>


<nav class="nav-wrapper">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">
        <img src="../../../assets/logo.png" alt="Avatar Logo" style="width:60px;" class="rounded-pill">
      </a>

      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="login">Iniciar Sesión</a></li>
        <li><a href="registro">Registrarse</a></li>
      </ul>

      <a href="#" data-target="responsive-menu" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
    </div>
</nav>



<div class="container-fluid">
    <div class="row">
      <div class="card hoverable">
        <div class="card-image">
          <img src="../../../assets/MISION.png">
          <span class="card-title">MISIÓN</span>
        </div>
        <div class="card-content">
          <p>CONTRIBUIR A LA INDUSTRIA DEL CAFE, mejorando el mercado del café tomando
            en cuenta las necesidades reales consumidor MÁS FEEDBACK = MEJOR SERVICIO</p>
        </div>
      </div>
    
      <div class="card hoverable">
        <div class="card-image">
          <img src="../../../assets/VISION.png">
          <span class="card-title">VISIÓN</span>
        </div>
        <div class="card-content">
          <p>Ser líderes en el manejo y uso de la información recibida por consumidores de café
            para que a través de ella podamos mejorar la experiencia y el mercado en Chile</p>
        </div>
      </div>
    
      <div class="card hoverable">
        <div class="card-image">
          <img src="../../../assets/PROPOSITO.png">
          <span class="card-title">PROPÓSITO</span>
        </div>
        <div class="card-content">
          <p>Mejorar y aportar a la industria del café y a la experiencia del consumidor
            Con un Posicionamiento claro: entregar el mejor feedback para la industria del café en chile</p>
        </div>
    
      </div>
    
    </div>
  </div>
  
  
  
  <script>
    M.AutoInit();
  </script>
  