<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>

  <body>
      <nav class="navbar">
          <div class="nav-wrapper">
              <a href="#" class="brand-logo right">
                  <img src="../img/logo.png" alt="Avatar Logo" style="width:60px;" class="rounded-pill">
              </a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">

              </ul>
          </div>
      </nav>

      <div class="Home-box">
          <div class="home-box-dentro">
              <h1 style="color: rgba(255, 255, 255, 0.514);">Bienvenido</h1>
              <p style="color: rgba(255, 255, 255, 0.514);">Página de prueba de inicio</p>

              <input type="button" value="Registrarse" routerLink="/registro">
              <input type="button" value="Loguearse" routerLink="/login">
          </div>
          <div class="logout-boton">

          </div>
      </div>
  </body>


