.card{
  margin-top: 20px;
  width: 400px;
  height: 700px;
  background-color: rgb(255, 255, 255, 0.8);
  }
  .card-image{
      margin-top: 5px;
      width: 100%;
      height: 80%;
  }
  .card .card-image img{
      display: inline-block;
      width: 100%;
      height: 100%;
  } 
  .col{
      align-items: center;
      justify-content: center;
  }
  .row{
      align-items: center;
      justify-content: center;
      background-color: #330E58;
      height: 100%;
      gap:100px;
  }
  .card-title{
      font-family: 'THEBOLDFONT 2022';
      
  }

  .nav-wrapper{
    background-color: #D25B37;
    color: #fff;
}