<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="width-device-width, initial-scale=1">
</head>

<body>


    <div class="container">
        <p>
            Modulo en desarrollo!
            <br>
            <a href="dashboard">Has click aca </a>
            para regresar a la pagina principal
        </p>
    </div>

    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger-cx/bootstrap.js?v=1"></script>
    <df-messenger df-cx="true" location="us-east1" chat-title="Coffeemondo"
        agent-id="7c4a48a8-f68a-4772-89c9-6e20e275cf1a" language-code="es"></df-messenger>
</body>

</html>