<nav class="navbar navbar-expand px-2">

    <div class="side-nav-button p-2 me-3 text-light"
    (click)="sideNavToggle()">
        <i class="fa-solid fa-bars"></i>
    </div>

    <a  class="navbar-brand px-4">CoffeeMondo</a>

    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                    Menu
                </a>

                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a href="" class="dropdown-item">Hijo</a></li>
                </ul>
            </li>

        </ul>

    </div>

    <div class="profile-logo dropstart">
        
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
            Usuario
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a href="" class="dropdown-item">Mi Perfil</a></li>
            <li><a href="" class="dropdown-item">Cerrar Sesion</a></li>

        </ul>
    </div>

</nav>