<nav class="navbar navbar-expand px-2">

    <div class="side-nav-button p-2 me-3 text-light"
        (click)="sideNavToggle()">
        <i class="fa-solid fa-bars"></i>
    </div>
    <a href="#" class="brand-logo right">
        <img src="../../../assets/logo.png" alt="Avatar Logo" style="width:60px;" class="rounded-pill">
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>

        <li><a (click)="onClick()">Cerrar Sesión</a></li>
    </ul>
</nav>
