
*:focus {
  outline: none;
}

#login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 700px;
  background: #330E58;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.loginInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;

}

.loginInfo h1 {
  color: #DAD1AA;
  font-family: 'TS Block Bold';
  font-size: 30px;
  margin-bottom: 40px;
}

  input[type="text"],
  input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 50px;
    padding: 4px;
    width: 350px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;

  }

  input[type="text"]:focus,
  input[type="password"]:focus {
    border-bottom: 2px solid #D25B37;
    color: black;
    transition: 0.2s ease;
  }

input[type="submit"] {
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  height: 50px;
  background: #D25B37;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
input[type="button"] {
  margin-top: 28px;
  margin-left: 15px;
  width: 200px;
  height: 50px;
  background: #D25B37;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="button"]:hover,
input[type="button"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="button"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.or span {
  margin: 10px;
  color: #DAD1AA;
}

.line {
  width: 100%;
  height: 100%;
  border-color: #DAD1AA;
}

.singIN {
  display: block;
  margin-bottom: 40px;
  font-size: 15px;
  color: #FFF;
  text-align: center;

}

button.singIN {
  margin-bottom: 20px;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 20px;
  transition: 0.2s ease;
  cursor: pointer;
}

button.singIn:hover,
button.singIn:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.singIn:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}


button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #1771e6;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  display:inline-flex;
  margin-left: 15px;
}
button.social-signin.facebook img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

button.social-signin.google {
  background: #d9d9d9;
  color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  display:inline-flex;
}

button.social-signin.google img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.forgot{
  padding-left: 50px;
}
