
<div id="login-box">
  <div class="loginInfo">
      <h1>INGRESAR</h1>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <input type="text" id="email" class="form-control" placeholder="E-mail" formControlName="email"/>
      <input type="password" id="password" class="form-control" placeholder="Contraseña"  formControlName="password"/>
      <label class="forgot" style="color: white;"> Olvidaste tu contraseña? <a routerLink="/forgot">Recuperala</a></label>
      <div class="botones">
      <input type="submit" id="login" name="login_submit" value="Ingresar" />
      <input type="button" value="Registrarse" routerLink="/registro">
      </div>
      <div class="or">
          <hr class="line"/>
          <span>o</span>
          <hr class="line"/>
      </div>
        <button class="social-signin google"  (click)="onClick()"> <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" height="20px"> Ingresa con Google </button>
        <button class="social-signin facebook"  (click)="onFace()"> <img src="https://cdn-icons-png.flaticon.com/512/174/174848.png" height="20px"> Ingresa con Facebook </button><br>
      </form>
  </div>
