.nav-wrapper{
    background-color: #D25B37 ;
  }
  
  .googlegraphic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .rounded-pill{
    text-align: right;
    float: right;
  }
  
  body{
    background: #61269c;
  }
  