.nav-wrapper {
  background-color: #D25B37;
}

.googlegraphic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.rounded-pill {
  text-align: right;
  float: right;
}

body {
  background: #61269c;
}

.nav-wrapper {
  background: hsl(0 0% 100%/ 0.1);
  backdrop-filter: blur(2rem);
}


.rounded-pill {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}


body {
  background: #61269c;
}

.nav-wrapper{
  background: hsl(0 0% 100%/ 0.1);
  backdrop-filter: blur(2rem);
}


.rounded-pill{
  width: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: right;
}

app-sidenav{
  position: fixed;
  left: 0rem;
  width: 0px;
  height: calc(101vh - 1.5rem);
  background: hsl(0 0% 100%/ 0.1);
  backdrop-filter: blur(2rem);
  overflow-x: hidden;
  transition: 0.5s;

}
.app-sidenav-open{
  width: 180px;
}

main{
  position: absolute;
  width: 100%;
  top: 4rem;
  z-index: 1;
}

nav{
  height:70px;
}

.navbar {
  background: hsl(0 0% 100%/ 0.1);
  backdrop-filter: blur(2rem);
}
.navbar-collapse{
  background: hsl(0 0% 100%/ 0.1);
  backdrop-filter: blur(2rem);
}
.burger{
  margin:10px;
}