<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="width-device-width, initial-scale=1">
</head>

<body>


    <div class="container">
        <div class="shop">
            <p><a href="shop">Shop</a></p>
            <p>Shopify</p>
        </div>
        <div class="plots">
            <p><a href="plots">Plots</a></p>

        </div>
        <div class="social">
            <p><a href="social">Social</a></p>

        </div>


        <div class="nlp">
            <p><a href="nlp">NLP</a></p>
            <p>
                Recursos Humanos
                <br>
                Índice de felicidad (Análisis de sentimientos)
            </p>
        </div>
        <div class="mantenimiento">
            <p><a href="Mantenimiento">Mantenimiento</a></p>
            <p>Mantenimientos preventivos</p>
        </div>
        <div class="app">
            <p><a href="app">Aplicación</a></p>
            <p>Datos app</p>
        </div>
        <div class="cx">
            <p><a href="CX">CX</a></p>
        </div>
        <div class="vision">
            <p><a href="vision">Visión</a></p>
            <p>
                Indicador térmico
                <br>
                Reconocimiento Facial
                <br>
                Reconocimiento de arte latte
            </p>
        </div>
    </div>

    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger-cx/bootstrap.js?v=1"></script>
    <!-- <df-messenger df-cx="true" location="us-east1" chat-title="Coffeemondo"
        agent-id="7c4a48a8-f68a-4772-89c9-6e20e275cf1a" language-code="es"></df-messenger> -->
</body>

</html>