.nav-wrapper{
  background-color: #D25B37 ;
}

.rounded-pill{
  text-align: right;
  float: right;
}
body{
  background: #61269c;
}
app-sidenav{
  position: fixed;
  left: 0rem;
  width: 60px;
  height: calc(101vh - 1.5rem);
  background-color: #D25B37;
  overflow-x: hidden;
  transition: 0.5s;

}
.app-sidenav-open{
  width: 150px;
}

main{
  position: absolute;
  width: 100%;
  top: 4rem;
  z-index: 1;
}

nav{
  height:70px;
}

.navbar {
  background-color: #D25B37;
}
.navbar-collapse{
  background-color: #D25B37;
  color: #D25B37;
}
.burger{
  margin:10px;
}
*{
  margin: 0px;
  padding: 0px;
  
}


.container{
  width: 100%;
  height: 100%;
  
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
}

.container > div{
  background: #e68264;
  padding: 20px;
  border-radius: 4px;
}

.container .plots{
  grid-column: span 2;
  grid-row: span 2;
}

.container .mantenimiento{
  grid-column: span 2;
}

// ESTILO DE RESEÑAS

.contenedor{
  width: auto;
  height: auto;
  margin: 20px;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}

.contenedor > div {

  border-radius: 4px;
}

.contenedor .usuario{
  grid-column: span 1;
}

.contenedor .clasificacion{
  grid-column-start: 2;
  text-align: center;
  
}

.contenedor .comentario{
  grid-column: span 2;
}