<div class="background">
    <nav class="navbar navbar-expand px-2">
        <div (click)="sideNavToggle()">
            <a class="burger"><img src="../../../assets/menu.png" height="30px" width="30px"></a>
        </div>
        <a href="#" class="brand-logo right">
            <img src="../../../assets/logo.png" alt="Avatar Logo" style="width:60px;" class="rounded-pill">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <a (click)="onClick()">Cerrar Sesión</a>
        </ul>
    </nav>

    <main>
        <app-sidenav [sideNavStatus]="menuStatus" [ngClass]="{'app-sidenav-open' : menuStatus }">
            <div class="display-area p-3">
                <p class="fs-1 fw-bold fst-italic"></p>
            </div>
        </app-sidenav>
    </main>


    <div class="container">
        <div class="shop">
            <p><a href="shop">Shop Hola</a></p>
            <p>Shopify</p>
        </div>
        <div class="plots">
            <p><a href="plots">Plots</a></p>

        </div>
        <div class="social">
            <p><a href="social">Social</a></p>

        </div>


        <div class="nlp">
            <p><a href="nlp">NLP</a></p>
            <p>
                Recursos Humanos
                <br>
                Índice de felicidad (Análisis de sentimientos)
            </p>
        </div>
        <div class="mantenimiento">
            <p><a href="Mantenimiento">Mantenimiento</a></p>
            <p>Mantenimientos preventivos</p>
        </div>
        <div class="app">
            <p><a href="app">Aplicación</a></p>
            <p>Datos app</p>
        </div>
        <div class="cx">
            <p><a href="CX">CX</a></p>
        </div>
        <div class="vision">
            <p><a href="Vision">Visión</a></p>
            <p>
                Indicador térmico
                <br>
                Reconocimiento Facial
                <br>
                Reconocimiento de arte latte
            </p>
        </div>
    </div>
</div>