/* You can add global styles to this file, and also import other style files */
@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "../node_modules/bootstrap/scss/bootstrap";
// <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
// <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
// <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

body{
    background-color: #330E58 !important;
}
@font-face {
    font-family: THEBOLDFONT 2022;
    src: url('../src/assets/THEBOLDFONT\ 2022.otf');
}
@font-face {
    font-family: TS Block Bold;
    src: url('../src/assets/TS\ Block\ Bold.ttf');
}
h1 {
    color: #DAD1AA;
    font-family: 'TS Block Bold';
    font-size: 30px;
    margin-bottom: 40px;
  }
