/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

.container {
  width: 100vw;
  height: 100vh;
  background-color: #D25B37;
  display: flex;
  flex-direction: column;
  align-items: center;
}
