
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "../node_modules/bootstrap/scss/bootstrap";

body{
    background-color: #FB5825 !important;
}

@font-face {
    font-family: CookieRun Bold;
    src: url('../src/assets/CookieRun\ Bold.otf');
}
@font-face {
    font-family: PTSans-Bold;
    src: url('../src/assets/PTSans-Bold.ttf');
}


